.NoConnectionView{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__time{
    font-size: 3.5rem;
  }

  &__text{
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: $color-primary
  }

  &__logo{
    margin-left: 0.8rem;
    height: 2rem;
    width: auto;
  }
}